<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1>Login</h1>
<% if(messages.error){ %>
<%= messages.error %>
<%} %>
<form action="/login" method="POST">
    <% if (messages.length > 0) { %>
        <div class="messages">
            <ul>
                <% errors.forEach(function(messages) { %>
                    <li><%= messages.path %>: <%= messages.msg %></li>
                <% }) %>
            </ul>
        </div>
    <% } %> 
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>
<a href="/register">Register</a>