*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins',sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background: url('images/CMBackground2.jpg') no-repeat;
  background-size:cover;
  justify-content: center;
  align-items:center;
}

header{
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo{
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo button{
  position:relative;
  font-size:2em;
  color:#fff;
  user-select:none;
  text-decoration:none;
  font-weight: 500;
  margin-left:40px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navigation form{
  margin:0;
}

.navigation button{
  position:relative;
  font-size:1.1em;
  color:#fff;
  text-decoration:none;
  font-weight: 500;
  margin-left:40px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #325886;
  color: rgba(255, 204, 0, 1);
  margin-top: 0px;
  padding-top: 0px;
}

h1 {
  text-align: center;
  position: relative;
  top:20px;
  margin: 0;
  padding: 0;
  color:#fff;
}

.character-info, .xp-info, .origin-level {
  display: flex;
  flex-direction: column;
}

.character-info input, .xp-info input, .origin-level input {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 150px;
  background-color: #447AB9;
}

#character-name{
  width: 250px;
}

.character-info label{
  padding-top: 7px;
}

.special {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  background-color: #325886;
  color: rgba(255, 204, 0, 1);
}

.special input{
  background-color: #447AB9;
}

#output-div {
  width: 20%;
  font-size: 22px;
  line-height: 1.5;
  margin-left: 40%;
  margin-right: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color:#FFD700;
  justify-content: center;
}

**************

.chatbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chatbox {
  width: 40%;
  margin-top: 10px;
  margin-left: 30%;
  margin-right: 30%;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color:rgba(0, 255, 102, 1);
  background-color: rgba(40, 40, 40, 0.80);
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chatbox-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
}

.chatbox-messages div {
  margin-bottom: 10px;
}

.chatbox-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chatbox-input input {
  flex: 1;
  padding: 5px;
  color: rgba(0, 255, 102, 1);
  accent-color: rgba(0,255,102,1);
  border: 1px solid #ccc;
  background-color: rgba(40, 40, 40, 0.80);
  border-radius: 4px;
}

.chatbox-input input::placeholder {
  color: rgba(0, 255, 102, 1);
}

.chatbox-input button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  background-color: rgba(40, 40, 40, 1);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.chatbox-input button:hover {
  background-color: #0056b3;
}


**************

.stat {
  flex: 1;
  text-align: center;
  margin: 5px;
  padding-left: 0-px;
  background-color: #447AB9;
  color: rgba(255, 204, 0, 1);

  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.stat input {
  width: 50px;
  text-align: center;
  margin-top: 5px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  margin: 0 auto;
  width: 56%;
}

.skills-section{
  margin-left: 0px;
  margin-right: 0;
  padding-right: 0;
}

.skills-table th, .skills-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.skills-table th {
  background-color: #325886;
  color: rgba(255, 204, 0, 1);
  font-weight: bold;
}

.skills-table td{
  color: rgba(255, 204, 0, 1);
  background-color: #325886;
  accent-color: #FFD700;
}

.dice {
  display: flex;
  width: 25%;
}

.dice-table{
  table-layout: fixed;
  width: 100%;
}

.dice-table th, .dice-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.dice-table th {
  background-color: #325886;
  color: rgba(255, 204, 0, 1);
  font-weight: bold;
}

.dice-table td{
  color: rgba(255, 204, 0, 1);
  background-color: #325886;
  accent-color: #FFD700;
}

.dice-table th.dice-table-skill-th, .dice-table td.dice-table-skill{
  width: 30%;
  color: #FFD700;
  background-color: #325886;
}

.dice-table th.dice-table-ap-th, .dice-table td.dice-table-ap{
  width: 15%;
  color: #FFD700;
  background-color: #325886;
}

.dice-table th.dice-table-roll-th, .dice-table td.dice-table-roll{
  width: 30%;
  color: #FFD700;
  background-color: #325886;
}

.dice-table td.dice-table-ap-td input {
  width: 100%;
  box-sizing: border-box;
}

.dice-table td.dice-table-roll-td input{
  width: 100%;
  box-sizing: border-box;
}

.perk-section th.perk-name-th {
  width: 20%;
  color: #FFD700;
  background-color: #325886;
}




.combat {
  flex: 3;
  padding: 10px;
  border: 2px solid #000;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}


/*      Style data for Combat Stats and Limb stats      */

.combat-stats{
  background-color: #325886;
  color: rgba(255, 204, 0, 1);
  margin-left: 0;
  margin-right:0;
  padding-left: 0;
  padding-right: 0;
  gap: 0;
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(68, 122, 185, 0.5);
  border: 2px solid #ccc;
}
/* General layout */
.body-header, .body-grid {
  width: 100%;
  margin-bottom: 20px;
}
      
/* Header for Melee Damage, Defense, Initiative */
.body-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  grid-column: 1 / span 3;
  text-align: center;
  background-color: rgb(68, 122, 1850, 0.01);
}

.body-header div{
  background-color: #325886;
}

.body-header div {

  text-align: center;
  padding: 10px;
  border: 2px solid #000;
  width: 50px;
  flex: 1;
}

.body-header input{
  width: 50px;
}

.body-grid {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.limb-section {
  border: 2px solid #000;
  padding: 10px;
  background-color: rgb(50, 88, 134,0.5);
  text-align: center;
}

.limb-section h4 {
  background-color: #000;
  color: rgba(255, 204, 0, 1);
  padding: 5px;
  margin: 0 0 10px 0;
}

.limb-section div {
  background-color: #325886;
  color: rgba(255, 204, 0, 1);

  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.limb-section label {
  flex: 1;
}

.limb-section input {
  width: 40px;
  text-align: center;
}

.health-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.health-section input {
  width: 50px;
  text-align: center;
}

.center-image {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#save-container {
  background-color: #325886;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

}

#save-container button{
  align-self: center;
  height: 40px;
  background-color: #000;
  border-color: #FFD700;
  color: #FFD700;
  font-weight: bold;
}

#load-container {
  background-color: #325886;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#load-container button{
  align-self: center;
  height: 40px;
  background-color: #000;
  border-color: #FFD700;
  color: #FFD700;
  font-weight: bold;
}

.weapons-table th, .weapons-table td{
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.weapons-table th{
  background-color: #fff;
}

.weapons-table td{
  color:#fff
}

/******************************************* CSS For Ammo and Gear Tables *******************************************/


.main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.weaponsAndAmmo {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;  
}

.weapons-table, .ammo-table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 80%;

  background-color: rgb(68, 122, 185, 0.5);
}

.ammo-table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 20%;
}

.weapons-table th, .ammo-table th, 
.weapons-table td, .ammo-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.weapons-table th, .ammo-table th {
  background-color: #325886;
  color:#FFD700;
}

.weapons-table input, select{
  background-color: #325886;
  color:#FFD700;
  accent-color: #FFD700;
}

.ammo-table input[type="text"], 
.ammo-table input[type="number"], 
.ammo-table select {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #ccc;

  background-color: #325886;
  color:#FFD700;
}


.ammo-table th {
  background-color: #325886;                                                    /* Add background color for headers */
  table-layout: fixed;
  width: 100%; 
}

.ammo-table select, input{
  background-color: #325886;
  color:#FFD700;
}

.weaponsAndAmmo th.gearAmmoTH {                                                  /*  THIS IS ACTUALLY SETTING WIDTH FOR TABLE HEADER AND BODY     */
  width: 80%;
}

.weaponsAndAmmo th.gearAmmoTH input {                                            /*  THIS IS ACTUALLY SETTING WIDTH FOR TABLE HEADER AND BODY     */
  width:100%;
}

.weaponsAndAmmo th.gearAmmoQuantityTH {                                                  /*  THIS IS ACTUALLY SETTING WIDTH FOR TABLE HEADER AND BODY     */
  width: 60%;
}

/******************************************* CSS For Gear and Perks *******************************************/

.gearAndPerks {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.gear-section {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 35%;
}

.gear-table th, .gear-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;

  background-color: #325886;
  color:#FFD700;
}

.gear-table th {
  table-layout: fixed;
  width: 100%;
}

.gear-table td{
  background-color: rgb(68, 122, 185, 0.5);
}

.gear-section th.gear-item-th {                                                   /* Sets width for the "Item" column */
  width: 20%;
}

.gear-section th.gear-amount-th {                                                 /* Sets width for the "Amount" column */
  width: 5%;
}

.gear-section th.gear-weight-th {                                                 /* Sets width for the "Weight" column */
  width: 5%;
}

.gear-table input[type="text"], 
.gear-table input[type="number"], 
.gear-table textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #ccc;
}

.gear-table input::placeholder{
  color: rgba(255, 204, 0, 1);
}

.carry-weight{
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  color: #FFD700;
  background-color: rgb(50, 88, 134,0.5);
}

.carry-weight input{
  max-width: 60px;
}



/******************************************* CSS For Perks *******************************************/

.perk-section {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 65%;
}

.perk-section th.perk-name-th {                                                  /*  THIS IS ACTUALLY SETTING WIDTH FOR TABLE HEADER AND BODY     */
  width: 20%;
  color: #FFD700;
  background-color: #325886;
}

.perk-section th.perk-name-th input {                                            /*  THIS IS ACTUALLY SETTING WIDTH FOR TABLE HEADER AND BODY     */
  width:100%;
}

.perk-section th.perk-rank-th {                                                  /*  THIS IS ACTUALLY SETTING WIDTH FOR TABLE HEADER AND BODY     */
  width: 6%;
  color: #FFD700;
  background-color: #325886;

}

.perk-section th.perk-effect-th{
  color: #FFD700;
  background-color: #325886;
}


.perks-table input[type="text"], 
.perks-table input[type="number"], 
.perks-table textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 8px;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #ccc;
    color: #FFD700;
    background-color: #325886;
}

.perks-table {
  table-layout: fixed;
  width: 100%;
}

.perks-table input::placeholder, .perks-table textarea::placeholder{
  color: rgba(255, 204, 0, 1);
}

.perks-table th, .perks-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.perks-table th {
  background-color: #325886;
}

.perks-table td {
  background-color: rgb(68, 122, 185, 0.5);
}